# This requirements are for development and testing only, not for production.
pytest
pytest-datadir
coverage
flake8
black
isort
pytest-cov
codecov
mypy
gitchangelog
mkdocs
types-setuptools
python-benedict